@charset "UTF-8";
/* ==========Утил========= */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.link {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  background-color: #FFFFFF;
  color: #212121;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

/*============ AUTH ============= */
.auth {
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .auth {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: 93px;
  }
}

@media screen and (max-width: 1199px) {
  .auth__wrapper {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 1200px) {
  .auth__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.auth__title {
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: #FFFFFF;
}
@media screen and (min-width: 1200px) {
  .auth__title {
    text-align: left;
  }
}

.auth__input {
  height: 50px;
  padding-left: 16px;
  border-radius: 4px;
  color: #FFFFFF;
  background-color: transparent;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1490196078);
  border: 1px solid rgba(255, 255, 255, 0.3019607843);
}
@media screen and (max-width: 767px) {
  .auth__input {
    margin-right: 0;
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .auth__input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .auth__input {
    width: 358px;
    margin-right: 12px;
  }
}

.auth__input::-moz-placeholder {
  font-size: 16px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.6);
}

.auth__input::placeholder {
  font-size: 16px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.6);
}

.button--submit {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  height: 50px;
  background-color: #2196F3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1490196078);
  min-width: 200px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 1199px) {
  .button--submit {
    margin-top: 20px;
  }
}

.button__icon {
  margin-left: 10px;
}

/*=============  backdrop ===============*/
.backdrop {
  position: fixed;
  perspective: 500px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(0, 0, 0, 0.2);
  overflow-y: scroll;
  z-index: 99;
}
@media screen and (max-width: 1199px) {
  .backdrop {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  visibility: visible;
}

.modal {
  padding: 40px;
  border-radius: 4px;
  background-color: #FFFFFF;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.1411764706), 0px 1px 3px 0px rgba(0, 0, 0, 0.1215686275);
}
@media screen and (max-width: 1199px) {
  .modal {
    text-align: center;
    position: relative;
    max-width: 450px;
    max-height: 650;
    margin: auto;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    max-width: 528px;
    min-height: 581px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.button-modal {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1019607843);
  background-color: transparent;
  fill: #000000;
  text-align: center;
  align-items: center;
  cursor: pointer;
  border-radius: 50%;
  padding: 0;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-modal:hover, .button-modal:focus {
  fill: #2196F3;
}

/* ============== BUTTON ============== */
.button {
  font-family: Roboto, sans-serif;
  font-style: normal;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid transparent;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover, .button:focus {
  background-color: #2196F3;
  color: #FFFFFF;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1215686275), 0px 1px 2px 0px rgba(0, 0, 0, 0.0784313725), 0px 3px 1px 0px rgba(0, 0, 0, 0.1019607843);
}

.button--secondary {
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-decoration: none;
  color: #212121;
  background-color: #F5F4FA;
}

.button--primary {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  background-color: #2196F3;
  padding: 10px 32px;
  min-width: 200px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* =================== CARDS PORTFOLIO ================= */
@media screen and (min-width: 768px) {
  .cards {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.cards__item {
  overflow: hidden;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.cards__item:hover, .cards__item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
@media screen and (max-width: 768px) {
  .cards__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .cards__item {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
  .cards__item:first-child .cards__content {
    padding-bottom: 56px;
  }
}
@media screen and (min-width: 1200px) {
  .cards__item {
    width: calc((100% - 90px) / 3);
    margin: 15px;
  }
}

.cards__link {
  text-decoration: none;
  display: block;
}

.cards__thumb {
  position: relative;
  overflow: hidden;
}

.cards__overlay {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #2196F3;
}
.cards__link:hover .cards__overlay, .cards__link:focus .cards__overlay {
  transform: translateY(0);
  opacity: 1;
}

.cards__alert {
  padding: 63px 24px;
  color: #FFFFFF;
  font-size: 18px;
  line-height: 1.56;
}

.cards__content {
  padding: 20px 24px;
  border: 1px solid #EEEEEE;
}

.cards__title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.cards__text {
  font-size: 16px;
  line-height: 1.87;
  color: #757575;
}

.clients__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
}
@media screen and (max-width: 1199px) {
  .clients__title {
    font-size: 28px;
    font-weight: 700;
    line-height: 1.17;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 1199px) {
  .clients__list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}
@media screen and (min-width: 1200px) {
  .clients__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: -15px;
  }
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__link:focus {
  border: 1px solid #2196F3;
  fill: #2196F3;
}

@media screen and (max-width: 767px) {
  .clients__item {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
}
@media screen and (min-width: 768px) {
  .clients__item {
    width: calc((100% - 90px) / 3);
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    width: calc((100% - 180px) / 6);
    margin: 15px;
  }
}

.clients__icon {
  min-width: 170px;
  height: 92px;
}

/* ============= CONTACTS ============= */
@media screen and (max-width: 767px) {
  .contacts {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts {
    display: flex;
    margin-left: auto;
    flex-direction: column;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    display: flex;
    margin-left: auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts__item:not(:last-child) {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__item:not(:last-child) {
    margin-right: 50px;
  }
}

.contacts__link {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #757575;
  fill: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__link:hover, .contacts__link:focus {
  color: #2196F3;
  fill: #2196F3;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts__link {
    font-size: 12px;
    font-weight: 500;
    line-height: 1.16;
  }
}

.contacts__icon {
  margin-right: 10px;
}

/* ===================== CONTAINER ==================== */
.container {
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

/*=============== FEATURES =============== */
@media screen and (max-width: 767px) {
  .features__list {
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .features__list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (max-width: 767px) {
  .features__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .features__item {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .features__item {
    width: calc((100% - 120px) / 4);
    margin: 15px;
  }
}

.features__icon {
  height: 120px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  background: #F5F4FA;
  border-radius: 4px;
}
@media screen and (min-width: 1200px) {
  .features__icon {
    width: 270px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.features__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.features__text {
  text-align: left;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
}

/* =================FILTER PORTFOLIO =============== */
@media screen and (max-width: 767px) {
  .filter__list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 768px) {
  .filter__list {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }
}

.filter__item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 767px) {
  .filter__item:nth-child(2n+3) {
    margin-right: 8px;
  }
}
.filter__item:not(:last-child) {
  margin-right: 8px;
}
.filter__item:hover, .filter__item:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
@media screen and (max-width: 767px) {
  .filter__item:nth-child(-n+3) {
    margin-bottom: 15px;
  }
}

/* =================== FOOTER =================== */
.page-footer {
  background-color: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (max-width: 767px) {
  .page-footer {
    text-align: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .page-footer__wraper {
    display: flex;
    text-align: center;
    justify-content: space-around;
  }
}
@media screen and (min-width: 1200px) {
  .page-footer__wraper {
    display: inline-flex;
    align-items: baseline;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .page-footer__address {
    display: flex;
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .page-footer__address {
    display: inline-flex;
  }
}
@media screen and (max-width: 1199px) {
  .page-footer__address {
    margin-bottom: 60px;
  }
}

.page-footer__logo {
  display: block;
  margin-bottom: 20px;
  color: #FFFFFF;
}

.page-footer__contacts {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.page-footer__contacts:hover, .page-footer__contacts:focus {
  color: #2196F3;
}

.page-footer__contacts--city {
  color: #FFFFFF;
}

.page-footer__item:not(:last-child) {
  margin-bottom: 9px;
}

/*================ MOBAL ==================== */
.form {
  display: inline-flex;
  flex-direction: column;
}

.form__text {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  text-align: center;
  margin-bottom: 12px;
}

.form__label {
  text-align: left;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
}

.form__input--wrapper {
  display: block;
  position: relative;
  margin-top: 4px;
}

.form__input {
  padding-left: 42px;
  height: 40px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input:focus {
  outline: none;
  border: 1px solid #2196F3;
}

.form__icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  fill: #212121;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input:focus + .form__icon {
  fill: #2196F3;
}

.form__textarea {
  margin-top: 4px;
  margin-bottom: 20px;
  padding: 12px 16px;
  height: 120px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  resize: none;
}

.form__textarea:focus {
  outline: none;
  border: 1px solid #2196F3;
}

.form__textarea::-moz-placeholder {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__textarea::placeholder {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__check--input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.form__check--label {
  color: #757575;
}
@media screen and (max-width: 1199px) {
  .form__check--label {
    font-size: 12px;
    line-height: 1.16;
    margin-bottom: 31px;
    display: flex;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .form__check--label {
    font-size: 14px;
    line-height: 1.17;
    text-align: center;
    margin-bottom: 30px;
  }
}
.form__check--label::before {
  margin-right: 5px;
  vertical-align: middle;
  display: inline-block;
  content: "";
  height: 15px;
  width: 16px;
  border-radius: 4px;
  border: 2px solid #212121;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
@media screen and (min-width: 1200px) {
  .form__check--label::before {
    margin-right: 7px;
  }
}

.form__check--input:checked ~ .form__check--label::before {
  background-color: #2196F3;
  border-color: #2196F3;
  background-image: url("../IMG/icon check.svg");
  background-size: contain;
  background-origin: border-box;
}

.form__link {
  color: hsl(207, 90%, 54%);
}
@media screen and (max-width: 1199px) {
  .form__link {
    margin-left: 2px;
  }
}

/*=================== HERO ================= */
.hero {
  height: 400px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../IMG/header/Header-mobil.jpg");
  background-repeat: no-repeat;
  text-align: center;
  background-color: #2F303A;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 118px;
  padding-top: 118px;
}
@media (min-device-pixel-ratio: 2) and (max-width: 767px), (-webkit-min-device-pixel-ratio: 2) and (max-width: 767px), (min-resolution: 192dpi) and (max-width: 767px), (min-resolution: 2dppx) and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../IMG/header/Header-mobil@2x.jpg");
  }
}
@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../IMG/header/Header-tablet.jpg");
  }
}
@media (min-device-pixel-ratio: 2) and (min-width: 768px), (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px), (min-resolution: 192dpi) and (min-width: 768px), (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../IMG/header/Header-tablet@2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    height: 600px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../IMG/header/header-desktop.jpg");
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
@media (min-device-pixel-ratio: 2) and (min-width: 1200px), (-webkit-min-device-pixel-ratio: 2) and (min-width: 1200px), (min-resolution: 192dpi) and (min-width: 1200px), (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../IMG/header/header-desktop@2x.jpg");
  }
}

.hero__title {
  text-align: center;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
}
@media screen and (max-width: 1199px) {
  .hero__title {
    font-size: 26px;
    font-style: normal;
    font-weight: 900;
    line-height: 1.76;
    letter-spacing: 0.06em;
    text-align: center;
  }
}

/*================= join ================= */
@media screen and (max-width: 767px) {
  .join {
    margin-bottom: 60px;
    text-align: center;
  }
}
@media screen and (max-width: 1199px) {
  .join {
    padding-top: 7px;
  }
}
@media screen and (min-width: 1200px) {
  .join {
    display: inline-flex;
    flex-direction: column;
    margin-left: 70px;
  }
}

.join__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #FFFFFF;
}
@media screen and (min-width: 768px) {
  .join__title {
    display: flex;
  }
}

.join__list {
  display: flex;
  justify-content: center;
}

.join__item {
  padding: 0;
}
.join__item:not(:last-child) {
  margin-right: 10px;
}

.join__link {
  text-align: center;
  padding: 12px;
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.join__link:hover, .join__link:focus {
  background: #2196F3;
}

.join__icon {
  width: 20px;
  height: 20px;
  fill: #FFFFFF;
}

/* ====================== LOGO ====================== */
.logo {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.logo:hover, .logo:focus {
  color: #2196F3;
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.2;
  }
}

.logo__label {
  font-family: Raleway, sans-serif;
  color: #2196F3;
}

/*================== PAGE-HEADER ====================== */
.page-header {
  border-bottom: 1px solid #ECECEC;
}
@media screen and (max-width: 767px) {
  .page-header {
    padding: 10px 0px;
  }
}
@media screen and (min-width: 768px) {
  .page-header {
    padding-top: 21px;
    padding-bottom: 21px;
  }
}
@media screen and (min-width: 1200px) {
  .page-header {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

@media screen and (max-width: 767px) {
  .page-header__wrappere {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
@media screen and (min-width: 768px) {
  .page-header__wrappere {
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .page-header__nav {
    display: flex;
    align-items: center;
  }
}

.page-header__logo {
  margin-right: 93px;
  color: #000000;
}

.page-header__button-menu {
  padding: 0;
  line-height: 0;
  border: none;
  background-color: transparent;
  fill: #000000;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .page-header__button-menu {
    display: none;
  }
}
.page-header__button-menu:hover, .page-header__button-menu:focus {
  fill: #2196F3;
}
.page-header__button-menu .page-header__icon {
  width: 40px;
  height: 40px;
}

/* SECTION */
@media screen and (max-width: 1199px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

/* =================SITE-NAV  ================= */
.site-nav {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
@media screen and (max-width: 767px) {
  .site-nav {
    display: none;
  }
}

.site-nav__link {
  display: block;
  text-decoration: none;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav__link:hover, .site-nav__link:focus {
  color: #2196F3;
}

.site-nav__link--current {
  color: #2196F3;
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__link--current {
  display: block;
  position: relative;
}
.site-nav__link--current::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  background: #2196F3;
  border-radius: 2px;
  left: 0;
  bottom: -34px;
}

/* SOCIAL-NETWORK */
.social-network {
  display: inline-flex;
  justify-content: center;
}

.social-network__item {
  padding: 0;
}
.social-network__item:not(:last-child) {
  margin-right: 10px;
}

.social-network__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #afb1b8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-network__link:hover, .social-network__link:focus {
  fill: #FFFFFF;
  background-color: #2196F3;
}

.social-network__icon {
  width: 20px;
  height: 20px;
}

/* ==================== TEAM ====================  */
.team {
  background-color: #F5F4FA;
}

.team__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}
@media screen and (max-width: 1199px) {
  .team__title {
    font-size: 28px;
    line-height: 1.17;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (max-width: 767px) {
  .team__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .team__item {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    width: calc((100% - 120px) / 4);
    margin: 15px;
  }
}

.team__content {
  padding-top: 30px;
  padding-bottom: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #FFFFFF;
  text-align: center;
}

.team__names {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  color: #212121;
}

.team__text {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.18;
  color: #757575;
}

/* ================= WORK ================= */
.work {
  padding-top: 0;
}
@media screen and (max-width: 1199px) {
  .work {
    display: none;
  }
}

.work__title {
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.work__list {
  display: flex;
}

.work__item {
  position: relative;
  display: flex;
}
.work__item:not(:last-child) {
  margin-right: 30px;
}

.overlay {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.overlay__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: #FFFFFF;
}

.mobile {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 99;
  overflow-y: scroll;
  opacity: 1;
  background-color: #FFFFFF;
}
@media screen and (min-width: 768px) {
  .mobile {
    display: none;
  }
}

.is-open {
  visibility: hidden;
  opacity: 0;
  visibility: visible;
  pointer-events: none;
}

.mobile__container {
  max-width: 480px;
  max-height: 796px;
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  padding-bottom: 48px;
  padding-left: 25px;
}

.mobile__button-close {
  display: flex;
  margin-left: auto;
  line-height: 0;
  border: none;
  background-color: transparent;
  fill: #000000;
  cursor: pointer;
  padding: 0;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile__button-close:hover, .mobile__button-close:focus {
  fill: #2196F3;
}
.mobile__button-close .mobile__icon {
  width: 40px;
  height: 40px;
}

.mobile__item:first-child {
  margin-bottom: 36px;
}
.mobile__item:nth-child(2) {
  margin-bottom: 32px;
}

.class {
  display: flex;
  flex-direction: column;
}

.mobile__link {
  font-size: 40px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-align: left;
  color: #212121;
}
.mobile__link:hover, .mobile__link:focus {
  color: #2196F3;
}

.current {
  color: #2196F3;
}

.mobile-contacts {
  margin-top: auto;
}

.mobile-contacts__item:first-child {
  margin-bottom: 32px;
}
.mobile-contacts__item:last-child {
  margin-bottom: 64px;
}

.mobile-contacts__link {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.16;
  letter-spacing: 0.02em;
  text-align: left;
  color: #757575;
}
.mobile-contacts__link:hover, .mobile-contacts__link:focus {
  color: #2196F3;
  font-size: 34px;
  line-height: 1.17;
}

.mobile-network {
  display: inline-flex;
  flex-wrap: wrap;
}

.mobile-network__item:not(:last-child) {
  border-right: solid 1px rgba(33, 33, 33, 0.2);
  color: #757575;
  margin-right: 10px;
}
.mobile-network__item:not(:last-child) .mobile-network__link {
  margin-right: 10px;
}

.mobile-network__link {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196F3;
}/*# sourceMappingURL=mine.css.map */