/* =================== CARDS PORTFOLIO ================= */
.cards {

	@media screen and (min-width: 768px) {
		display: flex;
		flex-wrap: wrap;
		margin: -15px;
	}

}

.cards__item {
	overflow: hidden;
	transition: box-shadow $animation;

	&:hover,
	&:focus {
		box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
			0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
	}

	@media screen and (max-width: 768px) {
		&:not(:last-child) {
			margin-bottom: 30px;
		}
	}

	@media screen and (min-width: 768px) and (max-width: 1199px) {
		width: calc((100% - 4 * 15px) / 2);
		margin: 15px;

		&:first-child .cards__content {
			padding-bottom: 56px;
		}
	}

	@media screen and (min-width: 1200px) {
		width: calc((100% - 6 * 15px) / 3);
		margin: 15px;

	}

}

.cards__link {

	text-decoration: none;
	display: block;
}

.cards__thumb {
	position: relative;
	overflow: hidden;
}

.cards__overlay {
	display: flex;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	transform: translateY(100%);
	transition: transform $animation, opacity $animation;
	background-color: $Accent;

	.cards__link:hover &,
	.cards__link:focus & {
		transform: translateY(0);
		opacity: 1;

	}
}

.cards__alert {
	padding: 63px 24px;
	color: $White-color;
	font-size: 18px;
	line-height: 1.56;

}

.cards__content {
	padding: 20px 24px;
	border: 1px solid #EEEEEE;

}

.cards__title {
	margin-bottom: 4px;
	font-weight: 700;
	font-size: 18px;
	line-height: 2.0;
	letter-spacing: 0.06em;
	color: $primary-text-color;
}

.cards__text {
	font-size: 16px;
	line-height: 1.87;
	color: $Secondary-text-color;
}