.mobile {
	@media screen and (min-width: 768px) {
		display: none;
	}

	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	z-index: 99;
	overflow-y: scroll;
	opacity: 1;
	background-color: $White-color;

}

.is-open {
	visibility: hidden;
	opacity: 0;
	visibility: visible;
	pointer-events: none;
	// pointer-events: auto;
}

.mobile__container {
	// position: relative;
	max-width: 480px;
	max-height: 796px;
	display: flex;
	flex-direction: column;
	padding-top: 10px;
	padding-bottom: 48px;
	padding-left: 25px;

	// margin: 0 auto;
}



.mobile__button-close {
	// position: absolute;
	// top: 10px;
	// right: 0px;
	display: flex;
	margin-left: auto;
	line-height: 0;
	border: none;
	background-color: transparent;
	fill: #000000;
	cursor: pointer;
	padding: 0;
	transition: fill $animation;

	&:hover,
	&:focus {
		fill: $Accent;
	}

	& .mobile__icon {
		width: 40px;
		height: 40px;
	}


}

.mobile__item {
	&:first-child {
		margin-bottom: 36px;
	}

	&:nth-child(2) {
		margin-bottom: 32px;
	}
}

.class {
	display: flex;
	flex-direction: column;
}

.mobile__link {
	font-size: 40px;
	font-weight: 500;
	line-height: 1.17;
	letter-spacing: 0.02em;
	text-align: left;
	color: $primary-text-color;

	&:hover,
	&:focus {
		color: $Accent;
	}

}

.current {
	color: $Accent;
}

.mobile-contacts {
	//  display: flex;
	//  flex-direction: column;
	margin-top: auto;
}

.mobile-contacts__item {
	&:first-child {
		margin-bottom: 32px;
	}

	&:last-child {
		margin-bottom: 64px;
	}
}

.mobile-contacts__link {
	font-size: 24px;
	font-weight: 500;
	line-height: 1.16;
	letter-spacing: 0.02em;
	text-align: left;
	color: $Secondary-text-color;

	&:hover,
	&:focus {
		color: $Accent;
		font-size: 34px;
		line-height: 1.17;

	}

}

.mobile-network {
	display: inline-flex;
	flex-wrap: wrap;

}

.mobile-network__item {
	&:not(:last-child) {
		border-right: solid 1px rgba(33, 33, 33, 0.2);
		color: $Secondary-text-color;
		margin-right: 10px;
	}

	&:not(:last-child) .mobile-network__link {
		margin-right: 10px;
	}

}

.mobile-network__link {

	font-size: 18px;
	font-weight: 500;
	line-height: 1.22;
	letter-spacing: 0.02em;
	color: $Accent;

}